<!doctype html>
<head>
<title>
Review
</title>
</head>

<body>
<div>
<pre>
	<form method="post">
	Product name :</br>
	<input type="text" name="nameGround" style="width:400px;"/>   
	
	Review statement:</br>
	<textarea rows="60" cols="200" name="noteGround" style="width:800px; height:200px;"></textarea></br></br>
	<input type="submit" value="Save" name="saveButton" style="width:100px;"/>	<input type="submit" value="Edit Note" name="editButton" style="width:100px;"/></br></br>
	</form>
</pre>
</div>
</body>
</html>